<div class="container-fluid">
  <div class="container container-radius container-shadow container-padding-normal bg-light">
    <h1 class="font-weight-light text-center">Witaj w usłudze elektronicznego dziennika</h1>
    <p>Usługa oferuje to i tamto</p>
  </div>
</div>