<div class="container-fluid">
  <div class="container container-radius container-shadow container-padding-small bg-light">
    <h2 class="float-left font-weight-light">Strona główna</h2>
    <ul class="container-header float-right">
      <li class="container-header"><h4 class="font-weight-light">Zalogowano jako <kbd class="badge-dark">Nauczyciel Nauczycielowski</kbd></h4></li>
    </ul>

    <div class="container content-container">
      <h5 class="font-weight-light">Akcje</h5>
      <a role="button" class="float-left col-2 feature feature-profile container-radius" href="profil-uzytkownika.html">Twój profil</a>
      <a role="button" class="float-left col-2 feature feature-timetable container-radius" href="nauczyciel-zajecia.html">Zajęcia</a>
    </div>
  </div>
</div>