<% content_for :title, "404" %>
<div class="container-fluid">
  <div class="container container-error container-radius container-shadow bg-light">
    <h1 class="display-5" style="margin-bottom: 20px">Błąd <kbd>404</kbd></h1>
    <h3 class="display-6">Nie znaleziono strony</h3>
    <%= image_tag 'saddog.png', class: 'image-error' %>
  </div>
</div>
