/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* Bootstrap style extension */

/* Main */
body {
    background: #eee url("background.jpg") no-repeat fixed top;
    background-size: cover;
}

/* Navbar */
.navbar {
    padding: 20px;
    margin-bottom: 50px;
}

.nav-login {
    color: #eee;
}

/* Main containers */
.container-radius {
    border-radius: 15px;
}

.container-shadow {
    box-shadow: 1px 1px 5px gray;
}

.container-padding-small {
    padding: 30px;
}

.container-padding-normal {
    padding: 40px;
}

.container-padding-big {
    padding: 50px;
}

.row-title {
    background-color: gray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Profile */
.profile-data {
    min-width: 250px;
    padding: auto;
    margin: auto;
}

/* Features */
.content-container {
    display: table;
    margin: auto;
}

a.feature {
    text-decoration: none;
    color: #eee;
    font-size: 18px;
    display: table-cell;
    vertical-align: bottom;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding-top: 150px;
}

.feature {
    min-width: 238px;
    height: 190px;
    opacity: 1.0;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: top center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, opacity 0.15s ease-in-out;
}

.feature:hover {
    opacity: 0.75;
}

.feature-profile {
    background-image: url("icon-profile.png");
    background-color: #0277BD;
}

.feature-grade {
    background-image: url("icon-grade.png");
    background-color: #FF5722;
}

.feature-note {
    background-image: url("icon-note.png");
    background-color: #1B5E20;
}

.feature-timetable {
    background-image: url("icon-timetable.png");
    background-color: #D32F2F;
}

.feature-class {
    background-image: url("icon-class.png");
    background-color: #FF9800;
}

.feature-subject {
    background-image: url("icon-subject.png");
    background-color: #FF5722;
}

.feature-teacher {
    background-image: url("icon-teacher.png");
    background-color: #D32F2F;
}

.feature-student {
    background-image: url("icon-student.png");
    background-color: #1B5E20;
}

.feature-user {
    background-image: url("icon-user.png");
    background-color: #673AB7;
}

/* Login page */
.form-control {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-login {
    padding: 50px;
    max-width: 900px;
    margin: auto;
    margin-top: 8%;
}

.wrapper-login {
    max-width: 500px;
    margin: auto;
}

/* Error page */
.container-error {
    padding: 50px;
    max-width: 1000px;
    margin: auto;
}

.image-error {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Footer */
.container-footer {
    margin-top: 20px;
    padding: 10px;
    bottom: 10px;
    color: #eee;
}

.footer-absolute {
    position: absolute;
}

/* Container header */
ul.container-header {
    display: inline-table;
}

li.container-header {
    display: inline-table;
    list-style: none;
    margin-left: 20px;
}

/* Grades list */
ul.grade-list {
    display: inline-table;
}

li.grade-list {
    margin-right: 10px;
    display: inline-table;
    list-style: none;
}

kbd.happy {
    background-color: #FF9800;
}

.modal-action, .modal-action:visited {
    color: #eee;
    text-decoration: none;
    border: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.modal-action:hover {
    color: gray;
    text-decoration: none;
}

/* Grades colors */
.grade {
    color: #fff;
}

.grade-6 {
    background-color: #0277BD;
}

.grade-5 {
    background-color: #1B5E20;
}

.grade-4 {
    background-color: #8BC34A;
}

.grade-3 {
    background-color: #FF9800;
}

.grade-2 {
    background-color: #FF5722;
}

.grade-1 {
    background-color: #D32F2F;
}

/* Fonts */
.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-6 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
}
